$colors: (
    primary: #000fff,
);
$shades: (
    1: 10,
    2: 20,
    3: 30,
    4: 40,
    5: 50,
    6: 60,
    7: 70,
    8: 80,
    9: 90,
);
@each $color, $value in $colors {
    @each $shade, $lightness in $shades {
        // color-#{$color}-#{$shade} {
        //     color: lighten($color, calc($shade / 10));
        // }
        .color-#{$color}-#{$lightness}0 {
            color: hsl(hue($value), $lightness, 10%);
        }
        // .color-#{$color}-#{$lightness}0-light {
        //     color: lighten($value, $lightness);
        // }

        // .color-#{$color} {
        //     color: $value;
        // }
    }
    // .color {
    //     color: $color;
    // }
}
