$utils: () !default;

$utils: map-merge(
  (
    font-weights: (
      responsive: true,
      hover: true,
      class: text,
      property: font-weight,
      values: $font-weights,
      description: "Provides classes for font-weights property of css",
    ),
    font-sizes: (
      responsive: true,
      hover: true,
      class: font,
      unit: rem,
      property: font-size,
      values: $font-sizes,
      description: "Provides classes for font-size property of css",
    ),
    headings: (
      responsive: true,
      class: font,
      property: font-size,
      unit: "rem",
      values: $headings,
      description:
        "Provides classes for font-size property but for a specific type-scale",
    ),
    width: (
      responsive: true,
      class: width,
      property: width,
      values: $width,
      description: "Provides classes for width property of css",
    ),
    border-radius: (
      responsive: true,
      class: border-radius,
      property: border-radius,
      unit: px,
      values: $border-radius,
      description: "Provides utility classes for border radius of all 4 corners",
    ),
    cursor: (
      hover: true,
      class: cursor,
      property: cursor,
      values: $cursor,
      description:
        "Provides negative  utility classes for skewY property of transform",
    ),
    font-color: (
      hover: true,
      class: font,
      property: color,
      values: $colors,
      description: "font color utilities",
    ),
    background-color: (
      hover: true,
      class: bg,
      property: background-color,
      values: $colors,
      description: "background color utilities",
    ),
    border-color: (
      hover: true,
      class: border,
      property: border-color,
      values: $colors,
      description: "border color utilities",
    ),
    box-shadows: (
      responsive: true,
      class: shadow,
      property: box-shadow,
      values: $box-shadows,
      description: "Provides utility classes for box-shadows",
    ),
  ),
  $utils
);
