$utils: () !default;

$utils: map-merge(
  (
    font-weights: (
      responsive: true,
      hover: true,
      class: text,
      property: font-weight,
      values: $font-weights,
      description: "Provides classes for font-weights property of css",
    ),
    font-sizes: (
      responsive: true,
      hover: true,
      class: font,
      unit: rem,
      property: font-size,
      values: $font-sizes,
      description: "Provides classes for font-size property of css",
    ),
    width: (
      responsive: true,
      class: width,
      property: width,
      values: $width,
      description: "Provides classes for width property of css",
    ),
    min-width: (
      responsive: true,
      class: min-width,
      property: min-width,
      values: $min-width,
      description:
        "Provides classes for min-width property of css which can be used along side width property",
    ),
    max-width: (
      responsive: true,
      class: max-width,
      property: max-width,
      values: $max-width,
      description:
        "Provides classes for max-width property of css which can be used along side width property",
    ),
    border-radius: (
      responsive: true,
      class: border-radius,
      property: border-radius,
      unit: px,
      values: $border-radius,
      description: "Provides utility classes for border radius of all 4 corners",
    ),
    scale: (
      responsive: true,
      hover: true,
      class: scale,
      property: --scale-x --scale-y,
      active: true,
      values: $scales,
      description: "Provides utility classes for scale-x and scale-y",
    ),
    scale-x: (
      responsive: true,
      hover: true,
      class: scale-x,
      active: true,
      property: --scale-x,
      values: $scales,
      description: "Provides utility classes for scale-x ",
    ),
    scale-y: (
      responsive: true,
      hover: true,
      class: scale-y,
      active: true,
      property: --scale-y,
      values: $scales,
      description: "Provides utility classes for scale-y ",
    ),
    translate: (
      responsive: true,
      hover: true,
      active: true,
      class: translate,
      unit: rem,
      property: --translate-x --translate-y,
      values: $translate,
      description: "Provides utility classes for translate-x and translate-y ",
    ),
    translate-x: (
      responsive: true,
      hover: true,
      class: translate-x,
      active: true,
      unit: rem,
      property: --translate-x,
      values: $translate,
      description: "Provides utility classes for translate-x",
    ),
    translate-y: (
      responsive: true,
      hover: true,
      class: translate-y,
      active: true,
      unit: rem,
      property: --translate-y,
      values: $translate,
      description: "Provides utility classes for translate-y",
    ),
    negative-translate: (
      responsive: true,
      hover: true,
      class: -translate,
      active: true,
      unit: rem,
      property: --translate-x --translate-y,
      values: $negative-translate,
      description:
        "Provides utility classes for translate-x and translate-y with negative value ",
    ),
    negative-translate-x: (
      responsive: true,
      hover: true,
      class: -translate-x,
      active: true,
      unit: rem,
      property: --translate-x,
      values: $negative-translate,
      description:
        "Provides utility classes for translate-x with negative value",
    ),
    negative-translate-y: (
      responsive: true,
      hover: true,
      class: -translate-y,
      active: true,
      unit: rem,
      property: --translate-y,
      values: $negative-translate,
      description:
        "Provides utility classes for translate-y with negative value",
    ),
    cursor: (
      hover: true,
      class: cursor,
      property: cursor,
      values: $cursor,
      description:
        "Provides negative  utility classes for skewY property of transform",
    ),
    font-color: (
      hover: true,
      class: font,
      property: color,
      values: $colors,
      description: "font color utilities",
    ),
    background-color: (
      hover: true,
      class: bg,
      property: background-color,
      values: $colors,
      description: "background color utilities",
    ),
    border-color: (
      hover: true,
      class: border,
      property: border-color,
      values: $colors,
      description: "border color utilities",
    ),
    background-sizes: (
      class: bg,
      property: background-size,
      values: auto contain cover,
      description: "Provieds Utilites for background sizes",
    ),
  ),
  $utils
);
