/** 
        @name: transform
        @desc: desc provides utilities to control transform behavior
        @classprefix: transform
        @responsive: false
        @hover: true
        @visited:  false 
        @active: false  
        @values: n/a
        @unit:  N/A
        @type: N/a
    */

.transform {
  --translate-x: 0;
  --translate-y: 0;
  --skew-x: 0;
  --skew-y: 0;
  --scale-x: 1;
  --scale-y: 1;
  --rotate: 0;

  transform: translateX(var(--translate-x)) translateY(var(--translate-y))
    rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y))
    scale(var(--scale-x), var(--scale-y)) perspective(1px);
}
