$utils: () !default;

$utils: map-merge(
  (
    text-transform: (
      responsive: true,
      class: text,
      property: text-transform,
      values: $transform,
      description: "Provides classes for text-transform property of css",
    ),
    text-decoration: (
      class: decoration,
      property: text-decoration,
      values: $decoration,
      description: "Provides classes for text-decoration property of css",
    ),
    text-align: (
      responsive: true,
      class: text,
      property: text-align,
      values: $align,
      description: "Provides classes for text-align property of css",
    ),
    font-weights: (
      responsive: true,
      hover: true,
      class: text,
      property: font-weight,
      values: $font-weights,
      description: "Provides classes for font-weights property of css",
    ),
    font-sizes: (
      responsive: true,
      hover: true,
      class: font,
      unit: rem,
      property: font-size,
      values: $font-sizes,
      description: "Provides classes for font-size property of css",
    ),
    headings: (
      responsive: true,
      class: font,
      property: font-size,
      unit: "rem",
      values: $headings,
      description:
        "Provides classes for font-size property but for a specific type-scale",
    ),
    line-height: (
      responsive: true,
      class: line-height,
      property: line-height,
      values: $line-height,
      description: "Provides classes for line-height property of css",
    ),
    padding-all: (
      responsive: true,
      class: p,
      property: padding,
      values: $values,
      description: "Provides classes to apply padding to all 4 sides",
    ),
    padding-x: (
      responsive: true,
      class: px,
      property: padding-left padding-right,
      values: $values,
      description:
        "Provides classes to apply padding to horizontal sides (left and right)",
    ),
    padding-y: (
      responsive: true,
      class: py,
      property: padding-top padding-bottom,
      values: $values,
      description:
        "Provides classes to apply padding to vertical sides (top and bottom)",
    ),
    padding-top: (
      responsive: true,
      class: pt,
      property: padding-top,
      values: $values,
      description: "Provides classes to apply padding to the top",
    ),
    padding-bottom: (
      responsive: true,
      class: pb,
      property: padding-bottom,
      values: $values,
      description: "Provides classes to apply padding to the bottom",
    ),
    padding-left: (
      responsive: true,
      class: pl,
      property: padding-left,
      values: $values,
      description: "Provides classes to apply padding to the left",
    ),
    padding-right: (
      responsive: true,
      class: pr,
      property: padding-right,
      values: $values,
      description: "Provides classes to apply padding to the right",
    ),
    margin-all: (
      responsive: true,
      class: m,
      property: margin,
      values: $values,
      description: "Provides classes to apply margin to all 4 sides",
    ),
    margin-x: (
      responsive: true,
      class: mx,
      property: margin-left margin-right,
      values: $values,
      description:
        "Provides classes to apply margin to horizontal sides (left and right)",
    ),
    margin-y: (
      responsive: true,
      class: my,
      property: margin-top margin-bottom,
      values: $values,
      description:
        "Provides classes to apply margin to vertical sides (top and bottom)",
    ),
    margin-top: (
      responsive: true,
      class: mt,
      property: margin-top,
      values: $values,
      description: "Provides classes to apply margin to the top",
    ),
    margin-bottom: (
      responsive: true,
      class: mb,
      property: margin-bottom,
      values: $values,
      description: "Provides classes to apply margin to the bottom",
    ),
    margin-left: (
      responsive: true,
      class: ml,
      property: margin-left,
      values: $values,
      description: "Provides classes to apply margin to the left",
    ),
    margin-right: (
      responsive: true,
      class: mr,
      property: margin-right,
      values: $values,
      description: "Provides classes to apply margin to the right",
    ),
    neg-margin-all: (
      responsive: true,
      class: -m,
      unit: rem,
      property: margin,
      values: $negative-values,
      description: "Provides classes to apply negative margin to all 4 sides",
    ),
    neg-margin-x: (
      responsive: true,
      class: -mx,
      unit: rem,
      property: margin-left margin-right,
      values: $negative-values,
      description:
        "Provides classes to apply negative margin to horizontal sides (left and right)",
    ),
    neg-margin-y: (
      responsive: true,
      class: -my,
      unit: rem,
      property: margin-top margin-bottom,
      values: $negative-values,
      description:
        "Provides classes to apply negative margin to vertical sides (top and bottom)",
    ),
    neg-margin-top: (
      responsive: true,
      class: -mt,
      unit: rem,
      property: margin-top,
      values: $negative-values,
      description: "Provides classes to apply negative margin to the top",
    ),
    neg-margin-bottom: (
      responsive: true,
      class: -mb,
      unit: rem,
      property: margin-bottom,
      values: $negative-values,
      description: "Provides classes to apply negative margin to the bottom",
    ),
    neg-margin-left: (
      responsive: true,
      class: -ml,
      unit: rem,
      property: margin-left,
      values: $negative-values,
      description: "Provides classes to apply negative margin to the left",
    ),
    neg-margin-right: (
      responsive: true,
      class: -mr,
      unit: rem,
      property: margin-right,
      values: $negative-values,
      description: "Provides classes to apply negative margin to the right",
    ),
    box-sizing: (
      class: box,
      property: box-sizing,
      values: $boxsizes,
      description: "Provides classes for box-sizing property of css",
    ),
    display: (
      responsive: true,
      class: display,
      property: display,
      values: $displays,
      description: "Provides classes for display property of css",
    ),
    positions: (
      responsive: true,
      class: position,
      property: position,
      values: $positions,
      description: "Provides classes for position property of css",
    ),
    overflow: (
      responsive: true,
      class: overflow,
      property: overflow,
      values: $overflows,
      description: "Provides classes for overflow property of css",
    ),
    overflow-x: (
      responsive: true,
      class: overflow-x,
      property: overflow-x,
      values: $overflows,
      description: "Provides classes for overflow-x property of css",
    ),
    overflow-y: (
      responsive: true,
      class: overflow-y,
      property: overflow-y,
      values: $overflows,
      description: "Provides classes for overflow-y property of css",
    ),
    flex-direction: (
      responsive: true,
      class: flex,
      property: flex-direction,
      values: $flex-directions,
      description:
        "Provides classes for flex-direction property of css which can be used along side display: flex",
    ),
    flex-wraps: (
      responsive: true,
      class: flex,
      property: flex-wrap,
      values: $flex-wraps,
      description:
        "Provides classes for flex-wrap property of css which can be used along side display: flex",
    ),
    justify-content: (
      responsive: true,
      class: justify,
      property: justify-content,
      values: $justify-content,
      description:
        "Provides classes for justify-content property of css which can be used along side display: flex and display:grid",
    ),
    align-content: (
      responsive: true,
      class: align-content,
      property: align-content,
      values: $align-content,
      description:
        "Provides classes for align-content property of css which can be used along side display: flex and display:grid",
    ),
    align-items: (
      responsive: true,
      class: align-items,
      property: align-items,
      values: $align-items,
      description:
        "Provides classes for align-items property of css which can be used along side display: flex and display:grid",
    ),
    align-self: (
      responsive: true,
      class: align-self,
      property: align-self,
      values: $align-self,
      description:
        "Provides classes for align-self property of css which can be used along side display: flex and display:grid",
    ),
    justify-self: (
      responsive: true,
      class: justify-self,
      property: justify-self,
      values: $justify-self,
      description:
        "Provides classes for justify-self property of css which can be used along side display: flex and display: grid",
    ),
    flex-grow: (
      responsive: true,
      class: flex-grow,
      property: flex-grow,
      values: $grow-shrink,
      description:
        "Provides classes for flex-grow property of css which can be used along side display:flex",
    ),
    flex-shrink: (
      responsive: true,
      class: flex-shrink,
      property: flex-shrink,
      values: $grow-shrink,
      description:
        "Provides classes for flex-shrink property of css which can be used along side display: flex",
    ),
    list-style: (
      class: list,
      property: list-style-type,
      values: $list-style-types,
      description:
        "Provides classes for list-style-type property of css which be used along side <ul> <ol>",
    ),
    list-position: (
      class: list,
      property: list-style-position,
      values: inside outside,
      description:
        "Provides classes for list-style-position property of css which be used along side <ul> <ol>",
    ),
    font-style: (
      responsive: true,
      hover: true,
      class: font-style,
      property: font-style,
      values: normal italic,
      description: "Provides classes for font-style property of css",
    ),
    letter-space: (
      responsive: true,
      class: letter-space,
      unit: em,
      property: letter-spacing,
      values: $letter-spacing,
      description: "Provides classes for letter-spacing property of css",
    ),
    width: (
      responsive: true,
      class: width,
      property: width,
      values: $width,
      description: "Provides classes for width property of css",
    ),
    min-width: (
      responsive: true,
      class: min-width,
      property: min-width,
      values: $min-width,
      description:
        "Provides classes for min-width property of css which can be used along side width property",
    ),
    max-width: (
      responsive: true,
      class: max-width,
      property: max-width,
      values: $max-width,
      description:
        "Provides classes for max-width property of css which can be used along side width property",
    ),
    height: (
      responsive: true,
      class: height,
      property: height,
      values: $height,
      description: "Provides classes for height property of css",
    ),
    min-height: (
      responsive: true,
      class: min-height,
      property: min-height,
      values: $min-height,
      description:
        "Provides classes for min-height property of css which can be used along side height property",
    ),
    max-height: (
      responsive: true,
      class: max-height,
      property: max-height,
      values: (
        screen-100: 100vh,
        full: 100%,
      ),
      description:
        "Provides classes for max-height property of css which can be used along side height property",
    ),
    object-fit: (
      responsive: true,
      class: object-fit,
      property: object-fit,
      values: $object-fit,
      description: "Provides classes for object-fit property of css",
    ),
    object-position: (
      responsive: true,
      class: object-position,
      property: object-position,
      values: $object-position,
      description: "Provides classes for object-position property of css",
    ),
    border-radius: (
      responsive: true,
      class: border-radius,
      property: border-radius,
      unit: px,
      values: $border-radius,
      description: "Provides utility classes for border radius of all 4 corners",
    ),
    border-radius-top: (
      responsive: true,
      class: border-radius-t,
      property: border-top-left-radius border-top-right-radius,
      unit: px,
      values: $border-radius,
      description:
        "Provides utility classes for border radius of all 2 corners Top-left and Top-right",
    ),
    border-radius-bottom: (
      responsive: true,
      class: border-radius-b,
      property: border-bottom-left-radius border-bottom-right-radius,
      unit: px,
      values: $border-radius,
      description:
        "Provides utility classes for border radius of all 2 corners Bottom-left and Bottom-right",
    ),
    border-radius-left: (
      responsive: true,
      class: border-radius-l,
      property: border-top-left-radius border-bottom-left-radius,
      unit: px,
      values: $border-radius,
      description:
        "Provides utility classes for border radius of all 2 corners Top-left and Bottom-Left",
    ),
    border-radius-right: (
      responsive: true,
      class: border-radius-r,
      property: border-top-right-radius border-bottom-right-radius,
      unit: px,
      values: $border-radius,
      description:
        "Provides utility classes for border radius of all 2 corners Top-right and Bottom-right",
    ),
    border-radius-top-left: (
      responsive: true,
      class: border-radius-tl,
      property: border-top-left-radius,
      unit: px,
      values: $border-radius,
      description:
        "Provides utility classes for border radius of 1 corner Top-left",
    ),
    border-radius-top-right: (
      responsive: true,
      class: border-radius-tr,
      property: border-top-right-radius,
      unit: px,
      values: $border-radius,
      description:
        "Provides utility classes for border radius of 1 corner Top-right",
    ),
    border-radius-bottom-left: (
      responsive: true,
      class: border-radius-bl,
      property: border-bottom-left-radius,
      unit: px,
      values: $border-radius,
      description:
        "Provides utility classes for border radius of 1 corner Bottom-left",
    ),
    border-radius-bottom-right: (
      responsive: true,
      class: border-radius-br,
      property: border-bottom-right-radius,
      unit: px,
      values: $border-radius,
      description:
        "Provides utility classes for border radius of 1 corner Bottom-Right",
    ),
    border-width: (
      responsive: true,
      class: border-width,
      property: border-width,
      unit: px,
      values: $border-width,
      description: "Provides utility classes for border width of all 4 sides",
    ),
    border-top-width: (
      responsive: true,
      class: border-width-t,
      property: border-top-width,
      unit: px,
      values: $border-width,
      description: "Provides utility classes for border width of Border Top",
    ),
    border-bottom-width: (
      responsive: true,
      class: border-width-b,
      property: border-bottom-width,
      unit: px,
      values: $border-width,
      description: "Provides utility classes for border width of Border Bottom",
    ),
    border-left-width: (
      responsive: true,
      class: border-width-l,
      property: border-left-width,
      unit: px,
      values: $border-width,
      description: "Provides utility classes for border width of Border Left",
    ),
    border-right-width: (
      responsive: true,
      class: border-width-r,
      property: border-right-width,
      unit: px,
      values: $border-width,
      description: "Provides utility classes for border width of Border Right",
    ),
    border-style: (
      responsive: true,
      class: border,
      property: border-style,
      values: $border-style,
      description: "Provides utility classes for border style",
    ),
    box-shadows: (
      responsive: true,
      class: shadow,
      property: box-shadow,
      values: $box-shadows,
      description: "Provides utility classes for box-shadows",
    ),
    scale: (
      responsive: true,
      hover: true,
      class: scale,
      property: --scale-x --scale-y,
      active: true,
      values: $scales,
      description: "Provides utility classes for scale-x and scale-y",
    ),
    scale-x: (
      responsive: true,
      hover: true,
      class: scale-x,
      active: true,
      property: --scale-x,
      values: $scales,
      description: "Provides utility classes for scale-x ",
    ),
    scale-y: (
      responsive: true,
      hover: true,
      class: scale-y,
      active: true,
      property: --scale-y,
      values: $scales,
      description: "Provides utility classes for scale-y ",
    ),
    translate: (
      responsive: true,
      hover: true,
      active: true,
      class: translate,
      unit: rem,
      property: --translate-x --translate-y,
      values: $translate,
      description: "Provides utility classes for translate-x and translate-y ",
    ),
    translate-x: (
      responsive: true,
      hover: true,
      class: translate-x,
      active: true,
      unit: rem,
      property: --translate-x,
      values: $translate,
      description: "Provides utility classes for translate-x",
    ),
    translate-y: (
      responsive: true,
      hover: true,
      class: translate-y,
      active: true,
      unit: rem,
      property: --translate-y,
      values: $translate,
      description: "Provides utility classes for translate-y",
    ),
    negative-translate: (
      responsive: true,
      hover: true,
      class: -translate,
      active: true,
      unit: rem,
      property: --translate-x --translate-y,
      values: $negative-translate,
      description:
        "Provides utility classes for translate-x and translate-y with negative value ",
    ),
    negative-translate-x: (
      responsive: true,
      hover: true,
      class: -translate-x,
      active: true,
      unit: rem,
      property: --translate-x,
      values: $negative-translate,
      description:
        "Provides utility classes for translate-x with negative value",
    ),
    negative-translate-y: (
      responsive: true,
      hover: true,
      class: -translate-y,
      active: true,
      unit: rem,
      property: --translate-y,
      values: $negative-translate,
      description:
        "Provides utility classes for translate-y with negative value",
    ),
    rotate: (
      responsive: true,
      hover: true,
      class: rotate,
      active: true,
      property: --rotate,
      values: $rotate,
      description: "Provides utility classes for rotate property of transform",
    ),
    rotate-negative: (
      responsive: true,
      hover: true,
      class: -rotate,
      active: true,
      property: --rotate,
      values: $rotate-negative,
      description:
        "Provides negative utility classes for rotate property of transform",
    ),
    skew: (
      responsive: true,
      hover: true,
      class: skew,
      active: true,
      property: --skew-x --skew-y,
      values: $skew,
      description: "Provides utility classes for skew property of transform",
    ),
    skew-x: (
      responsive: true,
      hover: true,
      class: skew-x,
      active: true,
      property: --skew-x,
      values: $skew,
      description: "Provides utility classes for skewX property of transform",
    ),
    skew-y: (
      responsive: true,
      hover: true,
      class: skew-y,
      active: true,
      property: --skew-y,
      values: $skew,
      description: "Provides utility classes for skewY property of transform",
    ),
    negative-skew: (
      responsive: true,
      hover: true,
      class: -skew,
      active: true,
      property: --skew-x --skew-y,
      values: $skew-negative,
      description:
        "Provides  negative  utility classes for skew property of transform",
    ),
    negative-skew-x: (
      responsive: true,
      hover: true,
      class: -skew-x,
      active: true,
      property: --skew-x,
      values: $skew-negative,
      description:
        "Provides negative utility classes for skewX property of transform",
    ),
    negative-skew-y: (
      responsive: true,
      hover: true,
      class: -skew-y,
      active: true,
      property: --skew-y,
      values: $skew-negative,
      description:
        "Provides negative  utility classes for skewY property of transform",
    ),
    cursor: (
      hover: true,
      class: cursor,
      property: cursor,
      values: $cursor,
      description:
        "Provides negative  utility classes for skewY property of transform",
    ),
    font-color: (
      hover: true,
      class: font,
      property: color,
      values: $colors,
      description: "font color utilities",
    ),
    background-color: (
      hover: true,
      class: bg,
      property: background-color,
      values: $colors,
      description: "background color utilities",
    ),
    border-color: (
      hover: true,
      class: border,
      property: border-color,
      values: $colors,
      description: "border color utilities",
    ),
    outline: (
      class: outline,
      property: outline,
      values: $outline,
      description: "Outline Utilities",
    ),
    background-repeat: (
      class: bg,
      property: background-repeat,
      values: $background-repeat,
      description: "Provieds Utilites for background repeat",
    ),
    background-sizes: (
      class: bg,
      property: background-size,
      values: auto contain cover,
      description: "Provieds Utilites for background sizes",
    ),
    transition-duration: (
      class: transition-duration,
      property: transition-duration,
      values: $transition-time,
      unit: ms,
      description: "Provides utilites for transition duration",
    ),
    transition-delay: (
      class: transition-delay,
      property: transition-delay,
      values: $transition-delay,
      unit: ms,
      description: "Provides utilites for transition delay",
    ),
  ),
  $utils
);
