@each $name, $value in $headings {
    .#{$name} {
        font-size: $value;
    }
}
@each $name, $value in $font-sizes {
    .font-#{$name} {
        font-size: #{$value}rem;
    }
}

@each $name, $value in $font-weights {
    .font-#{$name} {
        font-weight: $value;
    }
}
@each $value in $align {
    .text-align-#{$value} {
        text-align: $value;
    }
}

@each $value in $transform {
    .#{$value} {
        text-transform: $value;
    }
}
