$values: (
    '0': 0rem,
    '1': 0.25rem,
    '2': 0.5rem,
    '3': 0.75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '7': 1.75rem,
    '8': 2rem,
    '9': 2.25rem,
    '10': 2.5rem,
    '11': 2.75rem,
    '12': 3rem,
    '13': 3.25rem,
    '14': 3.5rem,
    '15': 3.75rem,
    '16': 4rem,
    '17': 4.25rem,
    '18': 4.5rem,
    '19': 4.75rem,
    '20': 5rem,
    '21': 5.25rem,
    '22': 5.5rem,
    '23': 5.75rem,
    '24': 6rem,
    '25': 6.25rem,
    '26': 6.5rem,
    '27': 6.75rem,
    '28': 7rem,
    '29': 7.25rem,
    '30': 7.5rem,
    '31': 7.75rem,
    '32': 8rem,
    '33': 8.25rem,
    '34': 8.5rem,
    '35': 8.75rem,
    '36': 9rem,
    '37': 9.25rem,
    '38': 9.5rem,
    '39': 9.75rem,
    '40': 10rem,
    'auto': auto,
);

$negative-values: (
    '0': -0,
    '1': -0.25,
    '2': -0.5,
    '3': -0.75,
    '4': -1,
    '5': -1.25,
    '6': -1.5,
    '7': -1.75,
    '8': -2,
    '9': -2.25,
    '10': -2.5,
    '11': -2.75,
    '12': -3,
    '13': -3.25,
    '14': -3.5,
    '15': -3.75,
    '16': -4,
    '17': -4.25,
    '18': -4.5,
    '19': -4.75,
    '20': -5,
    '21': -5.25,
    '22': -5.5,
    '23': -5.75,
    '24': -6,
    '25': -6.25,
    '26': -6.5,
    '27': -6.75,
    '28': -7,
    '29': -7.25,
    '30': -7.5,
    '31': -7.75,
    '32': -8,
    '33': -8.25,
    '34': -8.5,
    '35': -8.75,
    '36': -9,
    '37': -9.25,
    '38': -9.5,
    '39': -9.75,
    '40': -10,
);

$headings: (
    'h1': 7,
    'h2': 5.2,
    'h3': 4.2,
    'h4': 3.2,
    'h5': 2.6,
    'h6': 2,
    'subtitle': 1.8,
    'body': 1.6,
    'button': 1.4,
    'caption': 1.2,
    'note': 1,
);

$font-sizes: (
    'xs': 1,
    'sm': 1.2,
    'md': 1.4,
    'lg': 1.8,
    'xl': 2.2,
    '2xl': 2.6,
    '3xl': 3,
    '4xl': 3.8,
    '5xl': 4.6,
    '6xl': 5.4,
);

$font-weights: (
    'thin': 100,
    'extralight': 200,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'semibold': 600,
    'bold': 700,
    'extrabold': 800,
    'black': 900,
);

$align: left right center justify;

$transform: uppercase lowercase capitalize none;

$line-height: (
    1: 1,
    2: 12,
    3: 1.4,
    4: 1.5,
    5: 1.6,
    6: 1.8,
    7: 2,
);

$list-style-types: disc circle decimal lower-alpha lower-roman upper-alpha upper-roman none;

$letter-spacing: (
    harder: -0.05,
    hard: -0.1,
    normal: 0,
    soft: 0.1,
    softer: 0.05,
);

$boxsizes: (
    border: border-box,
    content: content-box,
);

$displays: inline block flex grid inline-block inline-flex inline-grid none table inline-table
    table-column-group table-header-group table-footer-group table-row-group table-cell table-column
    table-row;

$positions: static relative fixed absolute sticky;

$overflows: visible hidden scroll auto;

$flex-directions: row row-reverse column column-reverse;

$flex-wraps: nowrap wrap wrap-reverse;

$justify-content: (
    start: flex-start,
    end: flex-end,
    center: center,
    space-between: space-between,
    space-around: space-around,
    space-evenly: space-evenly,
);

$align-content: (
    stretch: stretch,
    center: center,
    start: flex-start,
    end: flex-end,
    space-between: space-between,
    space-around: space-around,
);

$align-items: (
    stretch: stretch,
    center: center,
    start: flex-start,
    end: flex-end,
    baseline: baseline,
);

$align-self: map-merge(
    $align-items,
    (
        auto: auto,
    )
);

$grow-shrink: 0 1;

$width: (
    '50': 50%,
    '100': 100%,
    '1-of-3': 33.33%,
    '2-of-3': 66.66%,
    '3-of-3': 100%,
    '1-of-4': 25%,
    '2-of-4': 50%,
    '3-of-4': 75%,
    '1-of-5': 20%,
    '2-of-5': 40%,
    '3-of-5': 60%,
    '4-of-5': 80%,
    '5-of-5': 100%,
    '1-of-12': 8.33%,
    '2-of-12': 16.66%,
    '3-of-12': 25%,
    '4-of-12': 33.33%,
    '5-of-12': 41.66%,
    '6-of-12': 50%,
    '7-of-12': 58.33%,
    '8-of-12': 66.66%,
    '9-of-12': 75%,
    '10-of-12': 83.33%,
    '11-of-12': 91.66%,
    '12-of-12': 100%,
    'screen': 100vw,
    'auto': auto,
);

$min-width: (
    0: 0%,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
);

$max-width: (
    none: none,
    full: 100%,
    screen-sm: 360px,
    screen-md: 768px,
    screen-lg: 1280px,
    xs: 20em,
    sm: 25em,
    md: 30em,
    lg: 35em,
    xl: 40em,
    2xl: 45em,
    3xl: 50em,
    4xl: 55em,
    5xl: 60em,
    6xl: 65em,
);

$height: (
    0: 0%,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    xs: 4em,
    sm: 8em,
    md: 12em,
    lg: 16em,
    xl: 20em,
    full: 100%,
    screen: 100vh,
);

$min-height: map-merge(
    $min-width,
    (
        screen-25: 25vh,
        screen-50: 50vh,
        screen-75: 75vh,
        screen-100: 100vh,
    )
);

$object-fit: fill contain cover scale-down none;

$object-position: (
    bottom: bottom,
    center: center,
    left: left,
    left-bottom: left bottom,
    left-top: left top,
    right: right,
    right-bottom: right bottom,
    right-top: right top,
    top: top,
);

$spacing: (
    0: 0,
    1: 0.5rem,
    2: 1rem,
    3: 1.5rem,
    4: 2rem,
    5: 2.5rem,
    6: 3rem,
    7: 3.5rem,
    8: 4rem,
    9: 4.5rem,
    10: 5rem,
    11: 5.5rem,
    12: 6rem,
    13: 6.5rem,
    14: 7rem,
    15: 7.5rem,
    16: 8rem,
);

$breakpoints: (
    'sm': 22.5em,
    'md': 48em,
    'lg': 80em,
);

$reverse-breakpoints: (
    'lg': 80em,
    'md': 48em,
    'sm': 22.5em,
);
