@each $name, $value in $values {
    .m-#{$name} {
        margin: #{$value}rem;
    }
}

@each $name, $value in $values {
    .mx-#{$name} {
        margin-left: #{$value}rem;
        margin-right: #{$value}rem;
    }
    .my-#{$name} {
        margin-top: #{$value}rem;
        margin-bottom: #{$value}rem;
    }
}

@each $name, $value in $values {
    .mt-#{$name} {
        margin-top: #{$value}rem;
    }
    .mb-#{$name} {
        margin-bottom: #{$value}rem;
    }
    .ml-#{$name} {
        margin-left: #{$value}rem;
    }
    .mr-#{$name} {
        margin-right: #{$value}rem;
    }
}

// Negative Margins

@each $name, $value in $values {
    .-m-#{$name} {
        margin: -#{$value}rem;
    }
}
@each $name, $value in $values {
    .-mx-#{$name} {
        margin-left: -#{$value}rem;
        margin-right: -#{$value}rem;
    }
    .-my-#{$name} {
        margin-top: -#{$value}rem;
        margin-bottom: -#{$value}rem;
    }
}

@each $name, $value in $values {
    .-mt-#{$name} {
        margin-top: -#{$value}rem;
    }
    .-mb-#{$name} {
        margin-bottom: -#{$value}rem;
    }
    .-ml-#{$name} {
        margin-left: -#{$value}rem;
    }
    .-mr-#{$name} {
        margin-right: -#{$value}rem;
    }
}

@each $name, $value in $values {
    @each $breakpointname, $breakpoint in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            .#{$breakpointname}\:m-#{$name} {
                margin: #{$value}rem;
            }
        }
    }
}

@each $name, $value in $values {
    @each $breakpointname, $breakpoint in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            .#{$breakpointname}\:mx-#{$name} {
                margin-left: #{$value}rem;
                margin-right: #{$value}rem;
            }
            .#{$breakpointname}\:my-#{$name} {
                margin-top: #{$value}rem;
                margin-bottom: #{$value}rem;
            }
        }
    }
}

@each $name, $value in $values {
    @each $breakpointname, $breakpoint in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            .#{$breakpointname}\:mt-#{$name} {
                margin-top: #{$value}rem;
            }
            .#{$breakpointname}\:mb-#{$name} {
                margin-bottom: #{$value}rem;
            }
            .#{$breakpointname}\:ml-#{$name} {
                margin-left: #{$value}rem;
            }
            .#{$breakpointname}\:mr-#{$name} {
                margin-right: #{$value}rem;
            }
        }
    }
}

@each $name, $value in $values {
    @each $breakpointname, $breakpoint in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            .#{$breakpointname}\:-m-#{$name} {
                margin: -#{$value}rem;
            }
        }
    }
}

@each $name, $value in $values {
    @each $breakpointname, $breakpoint in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            .#{$breakpointname}\:-mx-#{$name} {
                margin-left: -#{$value}rem;
                margin-right: -#{$value}rem;
            }
            .#{$breakpointname}\:-my-#{$name} {
                margin-top: -#{$value}rem;
                margin-bottom: -#{$value}rem;
            }
        }
    }
}

@each $name, $value in $values {
    @each $breakpointname, $breakpoint in $breakpoints {
        @media screen and (min-width: $breakpoint) {
            .#{$breakpointname}\:-mt-#{$name} {
                margin-top: -#{$value}rem;
            }
            .#{$breakpointname}\:-mb-#{$name} {
                margin-bottom: -#{$value}rem;
            }
            .#{$breakpointname}\:-ml-#{$name} {
                margin-left: -#{$value}rem;
            }
            .#{$breakpointname}\:-mr-#{$name} {
                margin-right: -#{$value}rem;
            }
        }
    }
}
