$utils: () !default;

$utils: map-merge(
    (
        text-transform: (
            responsive: true,
            class: text,
            property: text-transform,
            values: $transform,
        ),
        text-align: (
            responsive: true,
            class: text,
            property: text-align,
            values: $align,
        ),
        font-weights: (
            responsive: true,
            hover: true,
            class: text,
            property: font-weight,
            values: $font-weights,
        ),
        font-sizes: (
            responsive: true,
            hover: true,
            class: font,
            unit: rem,
            property: font-size,
            values: $font-sizes,
        ),
        headings: (
            responsive: true,
            hover: true,
            class: font,
            property: font-size,
            values: $headings,
        ),
        padding-all: (
            responsive: true,
            class: p,
            unit: rem,
            property: padding,
            values: $values,
        ),
        padding-x: (
            responsive: true,
            class: px,
            unit: rem,
            property: padding-left padding-right,
            values: $values,
        ),
        padding-y: (
            responsive: true,
            class: py,
            unit: rem,
            property: padding-top padding-bottom,
            values: $values,
        ),
        padding-top: (
            responsive: true,
            class: pt,
            unit: rem,
            property: padding-top,
            values: $values,
        ),
        padding-bottom: (
            responsive: true,
            class: pb,
            unit: rem,
            property: padding-bottom,
            values: $values,
        ),
        padding-left: (
            responsive: true,
            class: pl,
            unit: rem,
            property: padding-left,
            values: $values,
        ),
        padding-right: (
            responsive: true,
            class: pr,
            unit: rem,
            property: padding-right,
            values: $values,
        ),
        margin-all: (
            responsive: true,
            class: m,
            unit: rem,
            property: margin,
            values: $values,
        ),
        margin-x: (
            responsive: true,
            class: mx,
            unit: rem,
            property: margin-left margin-right,
            values: $values,
        ),
        margin-y: (
            responsive: true,
            class: my,
            unit: rem,
            property: margin-top margin-bottom,
            values: $values,
        ),
        margin-top: (
            responsive: true,
            class: mt,
            unit: rem,
            property: margin-top,
            values: $values,
        ),
        margin-bottom: (
            responsive: true,
            class: mb,
            unit: rem,
            property: margin-bottom,
            values: $values,
        ),
        margin-left: (
            responsive: true,
            class: ml,
            unit: rem,
            property: margin-left,
            values: $values,
        ),
        margin-right: (
            responsive: true,
            class: mr,
            unit: rem,
            property: margin-right,
            values: $values,
        ),
        neg-margin-all: (
            responsive: true,
            class: -m,
            unit: rem,
            property: margin,
            values: $negative-values,
        ),
        neg-margin-x: (
            responsive: true,
            class: -mx,
            unit: rem,
            property: margin-left margin-right,
            values: $negative-values,
        ),
        neg-margin-y: (
            responsive: true,
            class: -my,
            unit: rem,
            property: margin-top margin-bottom,
            values: $negative-values,
        ),
        neg-margin-top: (
            responsive: true,
            class: -mt,
            unit: rem,
            property: margin-top,
            values: $negative-values,
        ),
        neg-margin-bottom: (
            responsive: true,
            class: -mb,
            unit: rem,
            property: margin-bottom,
            values: $negative-values,
        ),
        neg-margin-left: (
            responsive: true,
            class: -ml,
            unit: rem,
            property: margin-left,
            values: $negative-values,
        ),
        neg-margin-right: (
            responsive: true,
            class: -mr,
            unit: rem,
            property: margin-right,
            values: $negative-values,
        ),
    ),
    $utils
);
