$white: #fff;
$red: #e60012;
$blue: #2176ff;
$orange: #f85e00;
$yellow: #fcf300;
$green: #14cc60;
$pink: #fa198b;
$violet: #6200b3;
$teal: #02c39a;
$gray: #808080;
$black: #000;

$red-100: colors("tint", $red, 40);
$red-200: colors("tint", $red, 30);
$red-300: colors("tint", $red, 20);
$red-400: colors("tint", $red, 10);
$red-500: $red;
$red-600: colors("shade", $red, 10);
$red-700: colors("shade", $red, 20);
$red-800: colors("shade", $red, 30);
$red-900: colors("shade", $red, 40);

$blue-100: colors("tint", $blue, 40);
$blue-200: colors("tint", $blue, 30);
$blue-300: colors("tint", $blue, 20);
$blue-400: colors("tint", $blue, 10);
$blue-500: $blue;
$blue-600: colors("shade", $blue, 10);
$blue-700: colors("shade", $blue, 20);
$blue-800: colors("shade", $blue, 30);
$blue-900: colors("shade", $blue, 40);

$orange-100: colors("tint", $orange, 40);
$orange-200: colors("tint", $orange, 30);
$orange-300: colors("tint", $orange, 20);
$orange-400: colors("tint", $orange, 10);
$orange-500: $orange;
$orange-600: colors("shade", $orange, 10);
$orange-700: colors("shade", $orange, 20);
$orange-800: colors("shade", $orange, 30);
$orange-900: colors("shade", $orange, 40);

$yellow-100: colors("tint", $yellow, 40);
$yellow-200: colors("tint", $yellow, 30);
$yellow-300: colors("tint", $yellow, 20);
$yellow-400: colors("tint", $yellow, 10);
$yellow-500: $yellow;
$yellow-600: colors("shade", $yellow, 10);
$yellow-700: colors("shade", $yellow, 20);
$yellow-800: colors("shade", $yellow, 30);
$yellow-900: colors("shade", $yellow, 40);

$green-100: colors("tint", $green, 40);
$green-200: colors("tint", $green, 30);
$green-300: colors("tint", $green, 20);
$green-400: colors("tint", $green, 10);
$green-500: $green;
$green-600: colors("shade", $green, 10);
$green-700: colors("shade", $green, 20);
$green-800: colors("shade", $green, 30);
$green-900: colors("shade", $green, 40);

$pink-100: colors("tint", $pink, 40);
$pink-200: colors("tint", $pink, 30);
$pink-300: colors("tint", $pink, 20);
$pink-400: colors("tint", $pink, 10);
$pink-500: $pink;
$pink-600: colors("shade", $pink, 10);
$pink-700: colors("shade", $pink, 20);
$pink-800: colors("shade", $pink, 30);
$pink-900: colors("shade", $pink, 40);

$violet-100: colors("tint", $violet, 40);
$violet-200: colors("tint", $violet, 30);
$violet-300: colors("tint", $violet, 20);
$violet-400: colors("tint", $violet, 10);
$violet-500: $violet;
$violet-600: colors("shade", $violet, 10);
$violet-700: colors("shade", $violet, 20);
$violet-800: colors("shade", $violet, 30);
$violet-900: colors("shade", $violet, 40);

$teal-100: colors("tint", $teal, 40);
$teal-200: colors("tint", $teal, 30);
$teal-300: colors("tint", $teal, 20);
$teal-400: colors("tint", $teal, 10);
$teal-500: $teal;
$teal-600: colors("shade", $teal, 10);
$teal-700: colors("shade", $teal, 20);
$teal-800: colors("shade", $teal, 30);
$teal-900: colors("shade", $teal, 40);

$gray-100: colors("tint", $gray, 64);
$gray-200: colors("tint", $gray, 48);
$gray-300: colors("tint", $gray, 36);
$gray-400: colors("tint", $gray, 16);
$gray-500: $gray;
$gray-600: colors("shade", $gray, 16);
$gray-700: colors("shade", $gray, 36);
$gray-800: colors("shade", $gray, 48);
$gray-900: colors("shade", $gray, 64);
