:root {
    // Variables for Heading and display text
    --h1: 7rem;
    --h2: 5.2rem;
    --h3: 4.2rem;
    --h4: 3.2rem;
    --h5: 2.6rem;
    --h6: 2rem;
    --subtitle: 1.8rem;
    --body: 1.6rem;
    --button: 1.4rem;
    --caption: 1.2rem;
    --note: 1rem;
}

// Screen Size Breakpoints
$--xs: 28.75em; //460px
$--s: 37.5em; //600
$--m: 56.25em; //900px
$--l: 80em; //1280px
$--xl: 90em; //1440px
